<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dizzy_effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>she0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,2},{150,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,450}}</string>
                <key>sourceSize</key>
                <string>{150,450}</string>
            </dict>
            <key>she0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{150,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,450}}</string>
                <key>sourceSize</key>
                <string>{150,450}</string>
            </dict>
            <key>she0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{150,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,450}}</string>
                <key>sourceSize</key>
                <string>{150,450}</string>
            </dict>
            <key>she0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{150,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,450}}</string>
                <key>sourceSize</key>
                <string>{150,450}</string>
            </dict>
            <key>she0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,454},{150,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,450}}</string>
                <key>sourceSize</key>
                <string>{150,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8060e22fb82208ea07895a8164e7637c:5826f1f3b81097196ddc5b2025fb2c4e:130860349884e9db32a7002f801c74f9$</string>
            <key>textureFileName</key>
            <string>boss.png</string>
        </dict>
    </dict>
</plist>
