<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>crush_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{281,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,177}}</string>
                <key>sourceSize</key>
                <string>{281,177}</string>
            </dict>
            <key>crush_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,181},{281,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,177}}</string>
                <key>sourceSize</key>
                <string>{281,177}</string>
            </dict>
            <key>crush_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{281,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,177}}</string>
                <key>sourceSize</key>
                <string>{281,177}</string>
            </dict>
            <key>crush_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,539},{281,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,177}}</string>
                <key>sourceSize</key>
                <string>{281,177}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>crush.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8ac1c23d13b245a963dd031b3e92a46:ac806bdfc46abc41e2e57f2b6f640627:2129659acb93445568f81d9c7085bffa$</string>
            <key>textureFileName</key>
            <string>crush.png</string>
        </dict>
    </dict>
</plist>
