<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,426},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,286},{123,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,138}}</string>
                <key>sourceSize</key>
                <string>{123,138}</string>
            </dict>
            <key>box.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,151},{141,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,114}}</string>
                <key>sourceSize</key>
                <string>{141,114}</string>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,151},{133,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,133}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>cola.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,286},{117,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,135}}</string>
                <key>sourceSize</key>
                <string>{117,135}</string>
            </dict>
            <key>goldenDrill.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,2},{144,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,126}}</string>
                <key>sourceSize</key>
                <string>{144,126}</string>
            </dict>
            <key>green.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,426},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>mushroom.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,151},{136,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,128}}</string>
                <key>sourceSize</key>
                <string>{136,128}</string>
            </dict>
            <key>nut.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{129,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,128}}</string>
                <key>sourceSize</key>
                <string>{129,128}</string>
            </dict>
            <key>orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,426},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>oxygen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{145,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,147}}</string>
                <key>sourceSize</key>
                <string>{145,147}</string>
            </dict>
            <key>purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,426},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>silverDrill.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,2},{144,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,126}}</string>
                <key>sourceSize</key>
                <string>{144,126}</string>
            </dict>
            <key>toy.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,286},{124,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,126}}</string>
                <key>sourceSize</key>
                <string>{124,126}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>elements.png</string>
            <key>size</key>
            <string>{503,481}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce15cf13e91b2a2588f95448b3b717c7:db51cada8b1071ba2aa9d52dad0240bb:cc4d159020aeb80598522deed8e12f2e$</string>
            <key>textureFileName</key>
            <string>elements.png</string>
        </dict>
    </dict>
</plist>
