<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>explode_center_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,98}}</string>
                <key>sourceSize</key>
                <string>{100,98}</string>
            </dict>
            <key>explode_center_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{100,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,98}}</string>
                <key>sourceSize</key>
                <string>{100,98}</string>
            </dict>
            <key>explode_center_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{100,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,98}}</string>
                <key>sourceSize</key>
                <string>{100,98}</string>
            </dict>
            <key>explode_center_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{100,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,98}}</string>
                <key>sourceSize</key>
                <string>{100,98}</string>
            </dict>
            <key>explode_spread_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{450,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,50}}</string>
                <key>sourceSize</key>
                <string>{450,50}</string>
            </dict>
            <key>explode_spread_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{450,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,50}}</string>
                <key>sourceSize</key>
                <string>{450,50}</string>
            </dict>
            <key>explode_spread_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{450,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,50}}</string>
                <key>sourceSize</key>
                <string>{450,50}</string>
            </dict>
            <key>explode_spread_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{450,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,50}}</string>
                <key>sourceSize</key>
                <string>{450,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>explode.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b77db0131ffb6a88a29c73252a2aaba8:e0eb881cce04ec54b01d54ae2a43e2e5:9a6b6e03bb2f7ee660b9781489ce2d1f$</string>
            <key>textureFileName</key>
            <string>explode.png</string>
        </dict>
    </dict>
</plist>
