<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>explode0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{450,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,50}}</string>
                <key>sourceSize</key>
                <string>{450,50}</string>
            </dict>
            <key>explode0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{450,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,50}}</string>
                <key>sourceSize</key>
                <string>{450,50}</string>
            </dict>
            <key>explode0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{450,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,50}}</string>
                <key>sourceSize</key>
                <string>{450,50}</string>
            </dict>
            <key>explode0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{450,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,50}}</string>
                <key>sourceSize</key>
                <string>{450,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>explode.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75fae266814ac33cd9bc38b893b709ea:ce79f176181d419ebaaa7f5731336bf1:9a6b6e03bb2f7ee660b9781489ce2d1f$</string>
            <key>textureFileName</key>
            <string>explode.png</string>
        </dict>
    </dict>
</plist>
