<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yanshu0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,200}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>yanshu0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{150,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,200}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>yanshu0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{150,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,200}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>yanshu0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{150,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,200}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>yanshu0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,204},{150,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,200}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>yanshu0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,204},{150,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,200}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>yanshu0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{150,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,200}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>yanshu0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,406},{150,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,200}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>yanshu0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,406},{150,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,200}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>yanshu0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{150,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,200}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb98525242268db7c5bca34504193ed2:3d9b9e01c7cf047c6cdaa68a9e0c5811:6f6c59c3c6b7e98e5fb22e47122cb74a$</string>
            <key>textureFileName</key>
            <string>player.png</string>
        </dict>
    </dict>
</plist>
